<div class="jumbotron">


<h2><%=  month_string(@month)+ " #{@day}"  %></h2>

  <%= button_to "Month overview", "/calender/#{@year}/#{@month}", {method: :get, class: 'btn', form_class: 'overview'} %>
</div>
<div class="left-right">


<% if @day == length_of_month(@month,@year) %>
  <% if @month == 12 %>
    <%= button_to ">", "/calender/#{@year + 1}/#{1}/#{1}",
    { method: :get, class: 'btn btn-small', form_class: 'next'} %>
    <%= button_to "<", "/calender/#{@year}/#{@month}/#{@day - 1}",
    {method: :get, class: 'btn btn-small', form_class: 'prev'} %>
  <% else %>
    <%= button_to ">", "/calender/#{@year}/#{@month + 1}/#{1}",
    { method: :get, class: 'btn btn-small', form_class: 'next'} %>
    <%= button_to "<", "/calender/#{@year}/#{@month}/#{@day - 1}",
    {method: :get, class: 'btn btn-small', form_class: 'prev'} %>
  <% end %>

<% elsif @day == 1 %>
  <% if @month == 1 %>
  <%= button_to ">", "/calender/#{@year}/#{@month}/#{@day + 1}",
  {method: :get, class: 'btn btn-small', form_class: 'next'} %>
  <%= button_to "<", "/calender/#{@year-1}/#{12}/#{31}",
  { method: :get, class: 'btn btn-small', form_class: 'prev'} %>
  <% else %>
    <%= button_to ">", "/calender/#{@year}/#{@month}/#{@day + 1}",
    { method: :get, class: 'btn btn-small', form_class: 'next'} %>
    <%= button_to "<", "/calender/#{@year}/#{@month-1}/#{length_of_month(@month-1,@year)}",
    { method: :get, class: 'btn btn-small', form_class: 'prev'} %>
  <% end %>

<% else %>
  <%= button_to ">", "/calender/#{@year}/#{@month}/#{@day + 1}",
  {method: :get, class: 'btn btn-small', form_class: 'next'} %>
  <%= button_to "<", "/calender/#{@year}/#{@month}/#{@day - 1}",
  {method: :get, class: 'btn btn-small', form_class: 'prev'} %>
<% end %>
</div>



<div class="calender">


<table class=" table table-striped table-hover ">
  <th class="title">
    Title
  </th>
  <% slot_times(@year,@month,@day).each do |slot|  %>

    <th class="<%= slot.hour%>:<%=string_increase_for_min(slot.min)%> table-head">
      <% if current_user.mentor? %>
        <%=link_to "#{slot.hour}:#{string_increase_for_min(slot.min)}", "/slots/new/#{@year}/#{@month}/#{@day}/#{slot.hour}/#{slot.min}", remote: true%>
      <% else %>
        <%= slot.hour%>:<%=string_increase_for_min(slot.min)%>
      <% end %>
    </th>
  <% end %>

  <% sort_by_start(@slots).each do |slot| %>
    <tr>
        <td class="title-slot">
          <%=link_to "#{slot.title}" , slot_path(slot) %>
        </td>
        <% color = @colors.sample  %>
        <%slot_times(@year,@month,@day).each do |time| %>

          <% if slot.start_time.to_time <= time.to_time && slot.end_time.to_time > time.to_time  %>
            <td class="active-slot", style="background-color: <%= color%>">
            </td>
          <% else %>
            <td>
            </td>
          <% end %>

        <% end %>
    </tr>
  <% end %>
</table>
</div>

<br />
<br />
<div id="new-slot-form">
</div>
