
<h3><%=  month_string(@month)+ " #{@day}"  %></h3>

<ul>
  <% slot_times.each do |slot|  %>
    <li>
      <% if current_user.mentor? %>
        <%=link_to "#{slot.hour}:#{string_increase_for_min(slot.min)}", "/slots/new/#{@year}/#{@month}/#{@day}/#{slot.hour}/#{slot.min}", remote: true%>
      <% else %>
        <%= slot.hour%>:<%=string_increase_for_min(slot.min)%>
      <% end %>
        <br />
    </li>
      <ul>
        <%sort_by_start(slots_in_this_time(@year,@month,@day,slot.hour,slot.min)).each do |office_hours|%>
          <li>
            <%=link_to "#{office_hours.title}" , slot_path(office_hours) %>
          </li>
        <% end %>
      </ul>
  <% end %>
</ul>

<%= button_to "Month overview", "/calender/#{@year}/#{@month}", method: :get %>


<div id="new-slot-form">
</div>
