
<h2> <%= month_string(@month) %> </h2>

<% (1..@num_of_days).each do |day| %>

  <span><%= button_to "#{day}","/slots/#{@year}/#{@month}/#{day}",
   method: :get  %></span>
<% end %>



<% if @month == 12 %>
  <%= button_to "next month","/slots/#{@year + 1}/#{1}",
   method: :get  %>
   <%= button_to "previous months","/slots/#{@year}/#{@month-1}",
    method: :get  %>
<% elsif @month == 1  %>
  <%= button_to "next month","/slots/#{@year}/#{@month+1}",
   method: :get  %>
   <%= button_to "previous months","/slots/#{@year-1}/12",
    method: :get  %>
<% else %>
  <%= button_to "next month","/slots/#{@year}/#{@month+1}",
   method: :get  %>
   <%= button_to "previous months","/slots/#{@year}/#{@month-1}",
    method: :get  %>
<% end %>
