
<h2> <%= month_string(@month) %> </h2>
<div class="left-right">
<% if @month == 12 %>
  <%= button_to ">",
    "/calender/#{@year + 1}/#{1}",
    {method: :get, class: 'btn btn-small', form_class: 'next'}
    %>
   <%= button_to "<",
    "/calender/#{@year}/#{@month-1}",
    {method: :get, class: 'btn btn-small', form_class: 'prev'}
     %>
<% elsif @month == 1  %>
  <%= button_to ">",
    "/calender/#{@year}/#{@month+1}",
    {method: :get, class: 'btn btn-small', form_class: 'next'}
  %>
   <%= button_to "<",
    "/calender/#{@year-1}/12" ,
    {method: :get, class: 'btn btn-small', form_class: 'prev'}
    %>
<% else %>
   <%= button_to ">",
    "/calender/#{@year}/#{@month+1}",
    {method: :get, class: 'btn btn-small', form_class: 'next'}
    %>
   <%= button_to "<",
    "/calender/#{@year}/#{@month-1}",
    { method: :get, class: 'btn btn-small', form_class: 'prev'}
    %>
<% end %>
</div>

<div class="month-calender">

<% (1..@num_of_days).each do |day| %>

  <span class="day-button" id ="<%=day%>"><%= button_to "#{day}" ,
  "/calender/#{@year}/#{@month}/#{day}",
   method: :get  %></span>
<% end %>
</div>
