


<h3>Creating office hours</h3>
<%= form_for @slot  do |f| %>
  From:
  <%=datetime_select(:slot, :start_time, start_year: current_year,
  end_year: current_year + 1,
  minute_step: 30,
  start_hour: 9,
  end_hour: 17
   )%><br /><br />
  To:
  <%=datetime_select(:slot, :end_time, start_year: current_year,
  end_year: current_year + 1,
  minute_step: 30,
  start_hour: 9,
  end_hour: 18
   )%><br /><br />
  Title:
  <%= f.text_field :title%>
  Capacity:
  <%= f.select :capacity, [['1','1'],['2','2'],['3','3'],['4','4'],['5','5']] %> <br><br>
  <%= f.submit :create %>
<% end %>
