
<h3>Creating office hours</h3>
<%= form_for :slot  do |f| %>
  From:
  <%=datetime_select(:slot, :start_time)%><br /><br />
  To:
  <%=datetime_select(:slot, :end_time)%> <br><br>
  Title:
  <%= f.text_field :title%>
  Capacity:
  <%= f.select :capacity, [['1','1'],['2','2'],['3','3'],['4','4'],['5','5']] %>
<% end %>
