<h1><%= @slot.title %> for <%= month_string(@slot.start_time.month) + " " + @slot.start_time.day.to_s %> </h1>

<section class="slot-info">
  <div>
    Topic: <%= @slot.title %><br>
    Start Time: <%= @slot.start_time.month.to_s + "/" + @slot.start_time.day.to_s + " " + display_time(@slot.start_time) %><br>
    End Time: <%= @slot.end_time.month.to_s + "/" + @slot.end_time.day.to_s + " " + display_time(@slot.end_time) %><br>
    This Slot's Mentor: <%= @mentor.first_name %><br>
    <%=@mentor.first_name%>'s Phase: <%=@mentor.phase%><br>
    capacity: <%= amount_of_students(@slot)%>/<%= @slot.capacity %>
  </div>
  <br><br>

  <% if current_user && current_user != @mentor && !full?(@slot) && !already_joined?(@slot) %>
    <div class="appointment-link">
      <%= link_to "Join!", "/slots/#{@slot.id}/appointments", method: :post %>
    </div>
  <% end %>
  <% if current_user != nil && @mentor == current_user %>
    <%= link_to 'Delete this Slot', slot_path(@slot),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
  <% end %>

  <% if already_joined?(@slot) %>
    <p>You have joined, please show up!</p>
    <%= link_to "Remove Appointment", "/appointments/#{your_appointment(@slot).id}", method: :delete %>
  <% end %>
</section>



<% if over?(@slot) %>
<h2>Feedback</h2>
<section class="feedback-container">
  <div class="feedback-list-section">
    <ul class="feedback-list">
      <%  if @slot.feedbacks %>
        <% @slot.feedbacks.each do |feedback| %>
          <li id="feedback-<%= feedback.id %>">
            <%= link_to feedback.comment, feedback_path(feedback) %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div class="new-feedback">
    <h3>Leave Some Feedback</h3>
    <%= render partial: 'feedbacks/new',
    locals: {errors: [], slot_id: @slot.id, feedback: @feedback} %>
  </div>
</section>
<% end %>
