
<!-- valirables -->
<!-- slots: array of slot -->
<!-- type: appointment or slot -->

<!-- List of active slots of the user -->
<% slots.each do |slot| %>
  <li>

  <!-- title -->
  <p><strong>
    <%= link_to "#{slot.title}", slot_path(slot) %>
  </strong></p>

  <!-- time -->
  <p><%= slot.start_time %> ~ <%= slot.end_time %></p>

  <% if  type == 'appointment' %>
    <!-- menter -->
    <p>Organized by: <%= slot.menter.first_name %> <%= slot.menter.last_name %></p>

    <% else %>
    <!-- capacity -->
    <p>Capacity:<%= slot.capacity %></p>

    <!-- delete link -->
    <%= link_to 'Delete', slot_path(slot), method: :delete %>
  <% end %>
  </li>
<% end %>