<h1> Welcome to SchedulEyes </h1>
<%if current_user%>
  <%=link_to current_user.username, user_path(current_user)%>
  <%=link_to "Logout", session_path(current_user), method: :delete%>
<%else%>
  <%= link_to "Sign In", new_session_path%>
<%end%>





<%= form_for @user do |f| %>
  <%=f.label :first_name%>:
  <%=f.text_field :first_name%></br>

  <%=f.label :last_name%>:
  <%=f.text_field :last_name%></br>

  <%=f.label :email %>:
  <%=f.text_field :email%></br>

  <%=f.label :mentor%>:
  <%=f.check_box :mentor%></br>

  <%=f.label :phase%>:
  <%=f.collection_select :phase, User::PHASES, :to_i, :to_i, include_blank: false%></br>

  <%=f.label :password%>:
  <%=f.password_field :password%></br>

  <%=f.label :password_confirmation%>:
  <%=f.password_field :password_confirmation%></br>

  <%=f.submit "Create Account"%>
<%end%>
