<% if current_user = @user%>
  <h1> Hi, <%=@user.first_name%>!</h1>
    <h2> Phase: <%=@user.phase%></h2>
<%else%>
  <h1> <%=@user.first_name%> <%=@user.last_name%></h1>
    <h2>Phase: <%=@user.phase%></h2>
<%end%>
