<% if current_user = @user%>
  <h1> Hi, <%=@user.first_name%>!</h1>
    <h2> <%=@user.phase%></h2>
<%else%>
  <h1> <%=@user.first_name%> <%=@user.last_name%></h1>
    <h2><%=@user.phase%></h2>
<%end%>
<% @user.slots.each do |slot| %>
  <li>
  <p><strong><%= slot.title %></strong></p>
  <p><%= slot.start_time %> ~ <%= slot.end_time %></p>
  <p>Capacity:<%= slot.capacity %></p>
  </li>
<% end %>
</ul>
