<h1> Hi, <%=@user.first_name%>!</h1>
<h2> Phase: <%=@user.phase%></h2>

<!-- New slot -->
<%= button_to 'New Slot', new_slot_path, method: :get, class: 'btn btn-default' %>
<h3>Your commitments are ... </h3>

<!-- List of active slots of the user -->
<% @user.active_my_slots.each do |slot| %>
  <li>

  <!-- title -->
  <p><strong>
    <%= link_to "#{slot.title}", slot_path(slot) %>
  </strong></p>

  <!-- time -->
  <p><%= slot.start_time %> ~ <%= slot.end_time %></p>

  <!-- capacity -->
  <p>Capacity:<%= slot.capacity %></p>

  <!-- delete link -->
  <%= link_to 'Delete', slot_path(slot), method: :delete %>
  </li>
<% end %>
</ul>

