<h1> Leave Some Feedback </h1>

<div id="feedback-form">
  <% if @feedback.errors.any? %>
    <div id="feedback-error-explanation">
      <h2>
        <%= pluralize(@feedback.errors.count, "error") %> prohibited
        this feedback from being saved:
      </h2>
      <ul>
        <% @feedback.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_for @feedback do |f| %>
    <p id="rating-prompt">
      With 5 being the most helpful, how helpful was this appointment?
    </p>
    <p id="rating-buttons">
      <%= radio_button_tag(:rating, "1") %>
      <%= label_tag(:feedback_rating, "1") %>
      <%= radio_button_tag(:rating, "2") %>
      <%= label_tag(:feedback_rating, "2") %>    
      <%= radio_button_tag(:rating, "3") %>
      <%= label_tag(:feedback_rating, "3") %>
      <%= radio_button_tag(:rating, "4") %>
      <%= label_tag(:feedback_rating, "4") %>
      <%= radio_button_tag(:rating, "5") %>
      <%= label_tag(:feedback_rating, "5") %>    
    </p>
    <p id="comment-prompt">
      Use this space to explain your rating in any further detail.
    </p>
    <p id="comment-body">
      <%= f.text_area :comment %>
    </p>
    <p>
      <%= f.submit 'Thank you for your ASKful feedback'%>
    </p>
  <% end %>
</div>
